.loader-container{
  position: absolute;
  height: 120%;
  width: 100%;
  background-color:  black;
  z-index: 99;
}


.heading{
  text-align: center;
  border: 1px solid #ccc;
  padding: 10px;
  border-radius: 5px;
  background-color: #eee;

  width: 60%;
  margin: 20px auto;

}

.playersTable {
  width: 100%;
  margin-top: 20px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #fbfffb;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 40vh;
}

.container > * {
  width: 40%;
}

.position-container{
  width:35px;
  border-radius: 8px;
  text-align: center;
}

.position-GK {
  background-color: rosybrown;
}

.position-DF {
  background-color: yellow;
}

.position-MF {
  background-color: greenyellow;
}

.position-FW {
  background-color: red;
}

button:hover {
  background-color: #4285f4;
  color: white;
}

